<form id="br" name="br">
    <div id="username" class="mdc-text-field">
        <input type="text" id="username-text-field" class="mdc-text-field__input">
        <label class="mdc-floating-label" for="username-text-field">Username</label>
        <div class="mdc-line-ripple"></div>
    </div>

    <div id="email" class="mdc-text-field">
        <input type="text" id="email-text-field" class="mdc-text-field__input">
        <label class="mdc-floating-label" for="email-text-field">Email</label>
        <div class="mdc-line-ripple"></div>
    </div>

    <div id="device-type" class="mdc-select demo-width-class">
        <input type="hidden" name="enhanced-select">
        <i class="mdc-select__dropdown-icon"></i>
        <div class="mdc-select__selected-text"></div>
        <div class="mdc-select__menu mdc-menu mdc-menu-surface demo-width-class">
            <ul class="mdc-list">
                <li class="mdc-list-item" data-value="ios">iOS</li>
                <li class="mdc-list-item" data-value="android">Android</li>
                <li class="mdc-list-item" data-value="web">Web</li>
                <li class="mdc-list-item" data-value="plugin">Plugin</li>
            </ul>
        </div>
        <span class="mdc-floating-label">Device Type</span>
        <div class="mdc-line-ripple"></div>
    </div>

    <div id="comment" class="mdc-text-field mdc-text-field--textarea">
        <textarea id="comment-textarea" class="mdc-text-field__input"></textarea>
        <div class="mdc-notched-outline">
            <div class="mdc-notched-outline__leading"></div>
            <div class="mdc-notched-outline__notch">
                <label for="comment-textarea" class="mdc-floating-label">Comment</label>
            </div>
            <div class="mdc-notched-outline__trailing"></div>
        </div>
    </div>
    <form action="#" class="dropzone"></form>
</form>