<form id="la" name="la">
    <div id="username" class="mdc-text-field">
        <input type="text" id="username-text-field" class="mdc-text-field__input">
        <label class="mdc-floating-label" for="username-text-field">Username</label>
        <div class="mdc-line-ripple"></div>
    </div>

    <div id="email" class="mdc-text-field">
        <input type="text" id="email-text-field" class="mdc-text-field__input">
        <label class="mdc-floating-label" for="email-text-field">Email</label>
        <div class="mdc-line-ripple"></div>
    </div>

    <div id="comment" class="mdc-text-field mdc-text-field--textarea">
        <textarea id="comment-textarea" class="mdc-text-field__input"></textarea>
        <div class="mdc-notched-outline">
            <div class="mdc-notched-outline__leading"></div>
            <div class="mdc-notched-outline__notch">
                <label for="comment-textarea" class="mdc-floating-label">Comment</label>
            </div>
            <div class="mdc-notched-outline__trailing"></div>
        </div>
    </div>

</form>