<form id="mi" name="mi">

    <div id="first-name" class="mdc-text-field">
        <input type="text" id="first-name-text-field" class="mdc-text-field__input">
        <label class="mdc-floating-label" for="first-name-text-field">First Name</label>
        <div class="mdc-line-ripple"></div>
    </div>

    <div id="last-name" class="mdc-text-field">
        <input type="text" id="last-name-text-field" class="mdc-text-field__input">
        <label class="mdc-floating-label" for="last-name-text-field">Last Name</label>
        <div class="mdc-line-ripple"></div>
    </div>

    <div id="email" class="mdc-text-field">
        <input type="text" id="email-text-field" class="mdc-text-field__input">
        <label class="mdc-floating-label" for="email-text-field">Email</label>
        <div class="mdc-line-ripple"></div>
    </div>

    <div id="phone" class="mdc-text-field">
        <input type="text" id="phone-text-field" class="mdc-text-field__input">
        <label class="mdc-floating-label" for="phone-text-field">Phone Number</label>
        <div class="mdc-line-ripple"></div>
    </div>

    <div id="media-outlet" class="mdc-text-field">
        <input type="text" id="media-outlet-text-field" class="mdc-text-field__input">
        <label class="mdc-floating-label" for="media-outlet-text-field">Media Outlet</label>
        <div class="mdc-line-ripple"></div>
    </div>

    <div id="role" class="mdc-select demo-width-class">
        <input type="hidden" name="enhanced-select">
        <i class="mdc-select__dropdown-icon"></i>
        <div class="mdc-select__selected-text"></div>
        <div class="mdc-select__menu mdc-menu mdc-menu-surface demo-width-class">
            <ul class="mdc-list">
                <li class="mdc-list-item" data-value="reporter">Report</li>
                <li class="mdc-list-item" data-value="editor">Editor</li>
                <li class="mdc-list-item" data-value="news-director">News Director</li>
                <li class="mdc-list-item" data-value="researcher">Researcher</li>
                <li class="mdc-list-item" data-value="producer">Producer</li>
            </ul>
        </div>
        <span class="mdc-floating-label">Role</span>
        <div class="mdc-line-ripple"></div>
    </div>

    <div id="outlet-type" class="mdc-select demo-width-class">
        <input type="hidden" name="enhanced-select">
        <i class="mdc-select__dropdown-icon"></i>
        <div class="mdc-select__selected-text"></div>
        <div class="mdc-select__menu mdc-menu mdc-menu-surface demo-width-class">
            <ul class="mdc-list">
                <li class="mdc-list-item" data-value="online">Online</li>
                <li class="mdc-list-item" data-value="print">Print</li>
                <li class="mdc-list-item" data-value="radio">Radio</li>
                <li class="mdc-list-item" data-value="television">Television</li>
                <li class="mdc-list-item" data-value="nonmedia">Nonmedia</li>
                <li class="mdc-list-item" data-value="other">Other</li>
            </ul>
        </div>
        <span class="mdc-floating-label">Type of Outlet</span>
        <div class="mdc-line-ripple"></div>
    </div>

    <div id="request-description" class="mdc-text-field mdc-text-field--textarea">
        <textarea id="request-description-textarea" class="mdc-text-field__input"></textarea>
        <div class="mdc-notched-outline">
            <div class="mdc-notched-outline__leading"></div>
            <div class="mdc-notched-outline__notch">
                <label for="request-description-textarea" class="mdc-floating-label">Description of Request</label>
            </div>
            <div class="mdc-notched-outline__trailing"></div>
        </div>
    </div>

    <div id="deadline-datetime" class="mdc-text-field">
        <input type="datetime-local" id="deadline-datetime-text-field" class="mdc-text-field__input">
        <label class="mdc-floating-label" for="deadline-datetime-text-field">Deadline Date and Time</label>
        <div class="mdc-line-ripple"></div>
    </div>

    <div id="air-date" class="mdc-text-field">
        <input type="date" id="air-date-text-field" class="mdc-text-field__input">
        <label class="mdc-floating-label" for="air-date-text-field">Date Story Runs or Airs</label>
        <div class="mdc-line-ripple"></div>
    </div>

</form>