<form id="pi" name="pi">

    <div id="company" class="mdc-text-field">
        <input type="text" id="company-text-field" class="mdc-text-field__input">
        <label class="mdc-floating-label" for="company-text-field">Company name</label>
        <div class="mdc-line-ripple"></div>
    </div>

    <div id="website" class="mdc-text-field">
        <input type="text" id="company-text-field" class="mdc-text-field__input">
        <label class="mdc-floating-label" for="website-text-field">Website URL</label>
        <div class="mdc-line-ripple"></div>
    </div>


    <div id="role" class="mdc-text-field">
        <input type="text" id="role-text-field" class="mdc-text-field__input">
        <label class="mdc-floating-label" for="role-text-field">Your role</label>
        <div class="mdc-line-ripple"></div>
    </div>

    <div id="first-name" class="mdc-text-field">
        <input type="text" id="first-name-text-field" class="mdc-text-field__input">
        <label class="mdc-floating-label" for="first-name-text-field">First Name</label>
        <div class="mdc-line-ripple"></div>
    </div>

    <div id="last-name" class="mdc-text-field">
        <input type="text" id="last-name-text-field" class="mdc-text-field__input">
        <label class="mdc-floating-label" for="last-name-text-field">Last Name</label>
        <div class="mdc-line-ripple"></div>
    </div>


    <div id="email" class="mdc-text-field">
        <input type="text" id="email-text-field" class="mdc-text-field__input">
        <label class="mdc-floating-label" for="email-text-field">Email</label>
        <div class="mdc-line-ripple"></div>
    </div>

    <div id="phone" class="mdc-text-field">
        <input type="text" id="phone-text-field" class="mdc-text-field__input">
        <label class="mdc-floating-label" for="phone-text-field">Phone Number</label>
        <div class="mdc-line-ripple"></div>
    </div>

    <div id="comment-frequency">
        <span>Does the website have commenting currently?</span>
        <div id="comment-frequency-yes" class="mdc-form-field">
            <div class="mdc-radio">
                <input class="mdc-radio__native-control" type="radio" id="radio-1" name="comment-frequency" checked>
                <div class="mdc-radio__background">
                    <div class="mdc-radio__outer-circle"></div>
                    <div class="mdc-radio__inner-circle"></div>
                </div>
            </div>
            <label for="radio-1">Yes</label>
        </div>

        <div id="comment-frequency-no" class="mdc-form-field">
            <div class="mdc-radio">
                <input class="mdc-radio__native-control" type="radio" id="radio-2" name="comment-frequency">
                <div class="mdc-radio__background">
                    <div class="mdc-radio__outer-circle"></div>
                    <div class="mdc-radio__inner-circle"></div>
                </div>
            </div>
            <label for="radio-2">No</label>
        </div>
    </div>



    <div id="handle" class="mdc-text-field">
        <input type="text" id="handle-text-field" class="mdc-text-field__input">
        <label class="mdc-floating-label" for="handle-text-field">Account Handle</label>
        <div class="mdc-line-ripple"></div>
    </div>

</form>