<form id="vpfr" name="vpfr">
    <div id="handle" class="mdc-text-field">
        <input type="text" id="handle-text-field" class="mdc-text-field__input">
        <label class="mdc-floating-label" for="handle-text-field">Handle</label>
        <div class="mdc-line-ripple"></div>
    </div>

    <div id="email" class="mdc-text-field">
        <input type="text" id="email-text-field" class="mdc-text-field__input">
        <label class="mdc-floating-label" for="email-text-field">Email</label>
        <div class="mdc-line-ripple"></div>
    </div>

    <div id="first-name" class="mdc-text-field">
        <input type="text" id="first-name-text-field" class="mdc-text-field__input">
        <label class="mdc-floating-label" for="first-name-text-field">First Name</label>
        <div class="mdc-line-ripple"></div>
    </div>

    <div id="last-name" class="mdc-text-field">
        <input type="text" id="last-name-text-field" class="mdc-text-field__input">
        <label class="mdc-floating-label" for="last-name-text-field">Last Name</label>
        <div class="mdc-line-ripple"></div>
    </div>

    <div id="account-type" class="mdc-select">
        <input type="hidden" name="enhanced-select">
        <i class="mdc-select__dropdown-icon"></i>
        <div class="mdc-select__selected-text"></div>
        <div class="mdc-select__menu mdc-menu mdc-menu-surface">
            <ul class="mdc-list">
                <li class="mdc-list-item" data-value="elected-official">Elected Official</li>
                <li class="mdc-list-item" data-value="media-personality">Media Personality</li>
                <li class="mdc-list-item" data-value="influencer">Influencer</li>
                <li class="mdc-list-item" data-value="journalist">Journalist</li>
                <li class="mdc-list-item" data-value="company">Company/Brand</li>
                <li class="mdc-list-item" data-value="other">Other</li>
            </ul>
        </div>
        <span class="mdc-floating-label">Type of Account</span>
        <div class="mdc-line-ripple"></div>
    </div>

    <div id="account-link-1" class="mdc-text-field">
        <input type="text" id="account-link-1-text-field" class="mdc-text-field__input">
        <label class="mdc-floating-label" for="account-link-1-text-field">Supporting Account Link 1</label>
        <div class="mdc-line-ripple"></div>
    </div>

    <div id="account-link-2" class="mdc-text-field">
        <input type="text" id="account-link-2-text-field" class="mdc-text-field__input">
        <label class="mdc-floating-label" for="account-link-2-text-field">Supporting Account Link 2</label>
        <div class="mdc-line-ripple"></div>
    </div>
</form>