@import "@material/button/mdc-button";
@import "@material/top-app-bar/mdc-top-app-bar";
@import "@material/card/mdc-card";
@import "@material/form-field/mdc-form-field";
@import "@material/list/mdc-list";
@import "@material/menu-surface/mdc-menu-surface";
@import "@material/menu/mdc-menu";
@import "@material/radio/mdc-radio";
@import "@material/select/mdc-select";
@import "@material/textfield/mdc-text-field";
@import "@material/slider/mdc-slider";
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

#size {
    padding: 10px;
    margin: 10px;
}

body {
    margin: 20px;
}

#form {
    margin: 0 auto;
    width: 100%;
    border-radius: 14px;

    #form-select {
        border-radius: 14px 14px 0 0;
    }

    #container {
        margin: 10px;

        form {
            display: flex;
            flex-wrap: wrap;
            margin: unset -5px;

            &>div {
                margin: 5px;
            }

        }

        #ad,
        #la {
            &>div {
                flex: 1 1 47.5%;
            }
        }

        #br {

            #username,
            #email {
                flex: 1 1 47.5%;
            }

            #device-type,
            #comment,
            #screenshot {
                flex: 1 1 100%;
            }
        }

        #pi {

            #company,
            #website,
            #role,
            #handle,
            #comment-frequency {
                flex: 1 1 100%;
            }

            #first-name,
            #last-name,
            #email,
            #phone {
                flex: 1 1 47.5%;
            }
        }

        #mi {

            #media-outlet,
            #request-description {
                flex: 1 1 100%;
            }

            #first-name,
            #last-name,
            #email,
            #phone,
            #role,
            #outlet-type,
            #deadline-datetime,
            #air-date {
                flex: 1 1 47.5%;
            }
        }

        #vpfr {

            #handle,
            #email,
            #account-type,
            #account-link-1,
            #account-link-2 {
                flex: 1 1 100%;
            }


            #first-name,
            #last-name {
                flex: 1 1 47.5%;

            }
        }
    }

    .mdc-card__actions {
        border-radius: 0 0 14px 14px;
        background-color: ghostwhite;
        display: flex;
        flex-wrap: wrap;

        &>button {
            border-radius: 14px;
        }

        #submit {
            flex: 1;
        }
    }
}